<h1><%= @curation_page.name %></h1>
<p><%= @curation_page.description %></p>
<b>Created by <%= @curation_page.user.name %></b>
<ul>
  <%= render @reviews %>
</ul>
<%= will_paginate @reviews %>
<% if belongs_to_user? %>
  <%= link_to "add review", new_curation_page_review_path(@curation_page) %>
<% end %>