<div id="search_result">
  <% if @search %>
    <ul>
      <% @search[:releases].each do |release| %>
        <li>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%= release[:release]%> by <em><%= release[:artist] %></em>
                <%= button_tag "select", class: "select btn btn-default", value: release.to_json %>
              </h3>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    pages: <%= @search[:pages_count] %>
    <%= button_tag "previous page", id: "prev" if @search[:page] > 1 %>
    <b>Page: </b><%= @search[:page] %>
    <%= button_tag "next page", id: "next" if @search[:page] < @search[:pages_count] %>
  <% end %>
</div>  